Project 0/force-app/main/default/flows/Add_Game_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Game_Review</name>
        <label>Add Game Review</label>
        <locationX>662</locationX>
        <locationY>407</locationY>
        <actionName>addGameReview</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GameReviewEndScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>a</name>
            <value>
                <elementReference>GameReviewRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Create_Game_Review_Record</name>
        <label>Create Game Review Record</label>
        <locationX>661</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>GameReviewRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GameReviewRecord.Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GameReviewRecord.User_Star_Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Star_Rating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GameReviewRecord.Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GameReviewer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GameReviewRecord.My_Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GameInReview.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Game_Review</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>GameChoices</name>
        <dataType>String</dataType>
        <displayField>Game_Title__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Game_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GameReviewer</stringValue>
            </value>
        </filters>
        <object>My_Games__c</object>
        <valueField>Game_Title__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Add Game Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Game Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GameReviewer</name>
        <label>GameReviewer</label>
        <locationX>422</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUsersGames</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Game_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUsersGames</name>
        <label>GetUsersGames</label>
        <locationX>549</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Game_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GameReviewRecord.Reviewer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>My_Games__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>829</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;An error occured&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GameReviewEndScreen</name>
        <label>GameReviewEndScreen</label>
        <locationX>528</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndScreenText</name>
            <fieldText>&lt;p&gt;Thank you for submitting a review.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Screen</name>
        <label>Review Screen</label>
        <locationX>659</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Game_Review_Record</targetReference>
        </connector>
        <fields>
            <name>Game</name>
            <fieldText>&lt;p&gt;&quot;Game&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GameInReview</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Game</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>My_Games__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>My_Game__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Review_Title</name>
            <dataType>String</dataType>
            <fieldText>Review Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Review</name>
            <dataType>String</dataType>
            <fieldText>Review</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Star_Rating</name>
            <dataType>Number</dataType>
            <fieldText>Star Rating</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Review has to be between 0-5 stars.&lt;/p&gt;</errorMessage>
                <formulaExpression>({!Star_Rating} &gt;= 0) &amp;&amp; ({!Star_Rating} &lt;= 5)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Reviewer</name>
            <fieldText>&lt;p&gt;{!GameReviewer.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GameReviewer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GameReviewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Game_Reviews__c</objectType>
    </variables>
    <variables>
        <name>MyGame</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>My_Games__c</objectType>
    </variables>
</Flow>
