Project 0/force-app/main/default/flows/Add_A_Game.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <dynamicChoiceSets>
        <name>ESRB_Rating_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ESRB_Rating__c</picklistField>
        <picklistObject>Game__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GameGenrePicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Genre__c</picklistField>
        <picklistObject>Game__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Add A Game {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add A Game</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Game_2</name>
        <label>Create_Game_2</label>
        <locationX>560</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>Game_Adding_Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Game_Add_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Developer__c</field>
            <value>
                <elementReference>Developer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genre__c</field>
            <value>
                <elementReference>Genre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Game_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publisher__c</field>
            <value>
                <elementReference>Publisher</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Release_Date__c</field>
            <value>
                <elementReference>Release_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Game__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Game_Add_Fault</name>
        <label>Game Add Fault</label>
        <locationX>556</locationX>
        <locationY>277</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Game_Adding_Complete</name>
        <label>Game Adding Complete</label>
        <locationX>691</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GameSucessText</name>
            <fieldText>&lt;p&gt;Your game has been added!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Game_Creation</name>
        <label>Game Creation</label>
        <locationX>403</locationX>
        <locationY>80</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Game_2</targetReference>
        </connector>
        <fields>
            <name>Game_Title</name>
            <dataType>String</dataType>
            <fieldText>Game Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Game_Description</name>
            <dataType>String</dataType>
            <fieldText>Game Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Developer</name>
            <dataType>String</dataType>
            <fieldText>Developer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Publisher</name>
            <dataType>String</dataType>
            <fieldText>Publisher</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Genre</name>
            <choiceReferences>GameGenrePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Genre</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Release_Date</name>
            <dataType>Date</dataType>
            <fieldText>Release Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Price</name>
            <dataType>Currency</dataType>
            <fieldText>Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Game_Creation</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
