Project 0/force-app/main/default/flows/Add_Game_to_Library.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <interviewLabel>Add Game to Library {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Game to Library</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Game</name>
        <label>Add Game</label>
        <locationX>636</locationX>
        <locationY>75</locationY>
        <inputAssignments>
            <field>Developer__c</field>
            <value>
                <elementReference>Get_Game_Details.Developer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESRB_Rating__c</field>
            <value>
                <elementReference>Get_Game_Details.ESRB_Rating__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Game_Account__c</field>
            <value>
                <elementReference>GameOrderProcessInput.Game_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Game_Description__c</field>
            <value>
                <elementReference>Get_Game_Details.Game_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Game_Genre__c</field>
            <value>
                <elementReference>Get_Game_Details.Genre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Game_Title__c</field>
            <value>
                <elementReference>Get_Game_Details.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Game__c</field>
            <value>
                <elementReference>Get_Game_Details.Games__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Game_Details.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Publisher__c</field>
            <value>
                <elementReference>Get_Game_Details.Publisher__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Release_Date__c</field>
            <value>
                <elementReference>Get_Game_Details.Release_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>My_Games__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Game_Details</name>
        <label>Get Game Details</label>
        <locationX>477</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Game</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GameID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GameOrderProcessInput.Game__r.GameID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Game__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Get_Game_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>GameOrderProcessInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Game_Orders__c</objectType>
    </variables>
</Flow>
